.THIS.bodyBox {
    overflow: hidden;
    background: #F0F0F0;
    border: 1px solid #DCDCDC;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 12px;
    text-align: center;
}

.THIS.total {
    height: 630px;
    min-width: 720px;
    padding-top: 10px;
}

.THIS.bodyBox .barBox {
    float: left;
    text-align: center;
    position: relative;
    left: 0;
    height: 170px;
    width: 21%;
    margin: 2%;
}

.THIS.bodyBox .barBox div {
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
}

.THIS.bodyBox .barBox div span {
    position: relative;
    left: 0;
    bottom: 22px;
}

.THIS.bodyBox .selectedBar div {
    border: 2px solid #fff;
}

.THIS.bodyBox .selectedBar .totalBar {
    box-shadow: 0 0 0 2px #296593;
}

.THIS.bodyBox .selectedBar .wonBar {
    box-shadow: 0 0 0 2px #127D48;
}

.THIS.bodyBox .selectedBar .lostBar {
    box-shadow: 0 0 0 2px #DB3B3B;
}

.THIS.bodyBox .selectedBar .pushBar {
    box-shadow: 0 0 0 2px #D7A74E;
}

.THIS.bodyBox .selectedBar div span {
    bottom: 24px;
}

.THIS.bodyBox .selectedBar div span,
.THIS.bodyBox .selectedBar span {
    font-weight: bold;
}

.THIS.bodyBox .barBox .totalBar {
    background: #296593;
}

.THIS.bodyBox .barBox .wonBar {
    background: #127D48;
}

.THIS.bodyBox .barBox .lostBar {
    background: #DB3B3B;
}

.THIS.bodyBox .barBox .pushBar {
    background: #D7A74E;
}